<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Pessoas</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Pessoas</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="card rounded shadow-sm p-3">
          <div class="d-flex">

            <div class="flex-fill pr-3">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Filtro: </div>
                </div>
                <input
                type="text"
                class="form-control"
                placeholder="buscar"
                [(ngModel)]="filtroLista"
                >
                <!-- <button class="btn btn-outline-success">Buscar</button> -->
              </div>
            </div>

            <div>
              <a class="d-flex btn btn-outline-primary" href="#" onClick="return false;" routerLink="/pessoas/novo">
                <i class="fa fa-plus-circle my-1"></i>
                <b class="ml-1 d-none d-sm-block" >Novo</b>

              </a>
            </div>


          </div>
          <table class="table table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th class="d-none d-md-table-cell">Documento</th>
                <th class="d-none d-md-table-cell">Apelido</th>
                <th class="d-none d-md-table-cell">Tipo Pessoa</th>
                <th>Data Registro</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody *ngIf="pessoas && pessoas.length">
              <tr *ngFor="let pessoa of pessoasFiltradas" (click)="detalhePessoa(pessoa.id)" style="cursor: pointer;" >
                <td>{{ pessoa.id }}</td>
                <td>{{ pessoa.nome }}</td>
                <td class="d-none d-md-table-cell">{{ pessoa.documento }}</td>
                <td class="d-none d-md-table-cell">{{ pessoa.apelido }}</td>
                <td class="d-none d-md-table-cell">{{ pessoa.tipoPessoa?.descricao }}</td>
                <td>{{ pessoa.dataCadastro | DateFormatPipe }}</td>
                <td>
                  <button type="button" title="Editar Registro" class="btn btn-primary btn-sm mr-2" tooltip="Editar" routerLink="/pessoas/editar/{{pessoa.id}}" >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm mr-2" title="Deletar Registro" tooltip="Excluir" (click)="openModal(template)" >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="!pessoas.length">
              <tr>
                <td colspan="8" class="text-center">
                  <h4>Nenhum registro encontrado!</h4>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- {{ pessoas | json }} -->

        <ng-template #template>
          <div class="modal-body text-center">
            <p>Deseja realmente deletar esse registro?</p>
            <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
            <button type="button" class="btn btn-primary ml-3" (click)="decline()" >Não</button>
          </div>
        </ng-template>



      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
